//fonts 
$breakpoint1: 480px;
@mixin big-phone {
    @media (min-width: $breakpoint1) {
        @content
    }
}



// Colors

$black: #000000;
$dark-green: #034243;
$light-green: #36a2a3;
$dark-red: #992800;
$orange: #b74319;
$light-orange: #fb8654;
$yellow: #e3a72f;
$light-yellow: #fffbe1;
