//media queries 
$breakpoint1: 768px;
@mixin tablet {
    @media (min-width: $breakpoint1) {
        @content
    }
}

$breakpoint2: 1024px;

@mixin desktop {
    @media (min-width: $breakpoint2) {
        @content
    }
}



// Colors

$black: #000000;
$dark-green: #034243;
$light-green: #36a2a3;
$dark-red: #992800;
$orange: #b74319;
$light-orange: #fb8654;
$yellow: #e3a72f;
$light-yellow: #fffbe1;
