*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
  font-family: "Dosis", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

ul {
  list-style-type: circle;
}

a {
  text-decoration: none;
}

.nav {
  background-color: #e3a72f;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}
@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
.nav__logo {
  font-size: 2.25rem;
  text-align: center;
  padding: 1rem 2rem;
  color: #034243;
  width: 100%;
}
@media (min-width: 768px) {
  .nav__logo {
    width: 50%;
    font-size: 1.75rem;
  }
}
.nav__button, .nav__button--2, .nav__button--1 {
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin: 0.25rem;
  background-color: #fffbe1;
}
@media (min-width: 768px) {
  .nav__button, .nav__button--2, .nav__button--1 {
    font-size: 1rem;
  }
}
.nav__button--1 {
  background-color: #992800;
  color: white;
}
.nav__button--2 {
  background-color: #36a2a3;
  color: white;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  background-color: #034243;
}
@media (min-width: 768px) {
  .hero {
    padding: 6rem 4rem;
  }
}
.hero__title {
  font-size: 2.5rem;
  color: whitesmoke;
  text-align: center;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 3rem;
  }
}
.hero__tagline {
  padding: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  color: #fffbe1;
}
@media (min-width: 768px) {
  .hero__tagline {
    font-size: 2rem;
  }
}

.rules {
  background-color: #36a2a3;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.rules__header {
  padding: 1.5rem;
  font-size: 2rem;
  color: #034243;
  background-color: #fffbe1;
}
@media (min-width: 768px) {
  .rules__header {
    font-size: 2.5rem;
  }
}
.rules__cards {
  height: 40vh;
}
@media (min-width: 768px) {
  .rules__cards {
    height: 60vh;
  }
}
.rules__body {
  text-align: center;
  padding: 1.5rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .rules__body {
    font-size: 2rem;
    padding: 0 2rem;
    margin-bottom: 1rem;
  }
}
.rules__list {
  background-color: #e3a72f;
}
.rules__list-item {
  font-size: 1.15rem;
  font-weight: 600;
  padding: 2rem 1rem;
}
@media (min-width: 768px) {
  .rules__list-item {
    font-size: 1.5rem;
  }
}

.game {
  background-color: #36a2a3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.game__title {
  font-size: 2.5rem;
  color: #992800;
  background-color: #fffbe1;
  text-align: center;
  width: 100vw;
  padding: 3rem 2rem;
}
@media (min-width: 768px) {
  .game__title {
    padding: 5rem;
    font-size: 3.25rem;
  }
}
.game__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}
.game__body {
  font-size: 2rem;
  padding: 2rem;
  width: 80vw;
  text-align: center;
  color: #fffbe1;
  background-color: #034243;
}
.game__card, .game__card--gif {
  font-size: 2rem;
  width: 12rem;
  height: 14rem;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 0.25rem;
  margin: 3rem 2.5rem;
}
.game__search {
  border: none;
  border-radius: 4px;
  height: 2.5rem;
  width: 60vw;
  margin-bottom: 1rem;
}
.game__button {
  display: block;
  border: none;
  border-radius: 0.25rem;
  margin: 0.25rem;
  height: 5vh;
  width: 20vh;
  color: white;
  background-color: #992800;
}
.game__button:hover {
  font-weight: 700;
  background-color: #e3a72f;
  color: #000000;
}

.footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: #e3a72f;
  padding: 1rem;
}
.footer__title {
  font-size: 2.5rem;
  text-align: center;
  padding: 2rem 1rem;
  color: #992800;
}

.dev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dev__photo {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  margin: 0 1rem;
}
.dev__name {
  font-size: 1.75rem;
  padding: 0.5rem;
  color: #034243;
}
.dev__role {
  font-size: 1.5rem;
}
.dev__link {
  font-size: 1.25rem;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  color: #992800;
}
.dev__link:visited {
  color: #034243;
  font-weight: 700;
}/*# sourceMappingURL=styles.css.map */