@use './partials/resets' as *;
@use './partials/variables' as *;


.nav{
    background-color: $yellow;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;

    &__logo {
        font-size: 2.25rem;
        padding: 1rem 0.5rem;
        color: $dark-green;
    }

    &__button {
        border:none;
        border-radius: 0.25rem;
        padding: 0.5rem;
        margin: 0.25rem;
        background-color: $light-yellow;

        &--1 {
            @extend .nav__button;
            background-color: $dark-red;
            color: white;
        }

        &--2 {
            @extend .nav__button;
            background-color: $light-green;
            color: white;
        }
    }
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    background-color: $dark-green;

    &__title {
        font-size: 2.5rem;
        color:whitesmoke;
        text-align: center;

    }

    &__tagline{
        padding: 1.5rem;
        font-size: 1.5rem;
        text-align: center;
        color: $light-yellow;
    }
}


.rules {
    background-color: $light-green;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &__header{
        padding: 1.5rem;
        font-size: 2rem;
        color: $dark-green;
        background-color: $light-yellow;
    }

    &__cards {
        height: 40vh;
    }

    &__body {
        text-align: center;
        padding: 1.5rem;
        font-size: 1.5rem;
    }
    
    &__list {
        background-color: $yellow;
    }

    &__list-item {
        font-size: 1.15rem;
        font-weight: 600;
        padding: 2rem 0;
    }
}

.game  {
    background-color: $light-green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__title {
        font-size: 2.5rem;
        color: $dark-red;
        background-color: $light-yellow;
        text-align: center;
        width: 100vw;
        padding: 3rem 2rem;
    }

    &__body {
        font-size: 2rem;
        text-align: center;
        padding: 2rem 3rem;
        color: $light-yellow;
        background-color: $dark-green;
    }

    &__card {
        font-size: 2rem;
        width: 40vw;
        height: 20vh;
        background-color: bisque;
        border: 1px solid black;
        border-radius: 0.25rem;
        margin: 2rem 0.5rem;

        &--gif {
            @extend .game__card;
        }
    }

    &__button {
        border:none;
        border-radius: 0.25rem;
        padding: 0.5rem;
        margin: 0.25rem;
        height: 5vh;
        width: 15vh;
        color: white;
        background-color: $dark-red;

        &:hover{
            font-weight: 700;
            background-color: $yellow;
            color: $black;
        }
        }
    }